<div class="login-page">
  <div class="form">
    <h2>Sing In</h2>
    <form class="login-form" #myForm="ngForm" (ngSubmit)="login();">
      <input [(ngModel)]="model.Email" type="text" placeholder="Email" name="Email" />
      <input [(ngModel)]="model.Password" type="password" placeholder="Password" name="Password" />
      
      <button type="submit" class="btn btn-primary my-btn">ENTER</button>
      <p class="message">Register?<a [routerLink]="['/sign-up']"></a></p>
    </form>
  </div>
  