<header>
    <!--? Header Start -->
    <div class="header-area">
        <div class="main-header header-sticky">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <!-- Logo -->
                    <div class="col-xl-2 col-lg-2 col-md-1">
                        <div class="logo">
                            <div style="line-height:45px">
                                <a href="index.html">
                                    <img src="assets/img/logo/logo2.png" style="width:45px" alt="">
                                    <span class="vertical-align-center h5 text-primary">Be healthy</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-10 col-lg-10 col-md-10">
                        <div class="menu-main d-flex align-items-center justify-content-end">
                            <!-- Main-menu -->
                            <div class="main-menu f-right d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li><a href="index.html">Головна</a></li>
                                        <li><a href="about.html">Про мене</a></li>
                                        <li><a href="department.html">Запис на прийом</a></li>
                                        <li><a href="../Views/Contacts/Index.cshtml" alt="">Контакти</a></li>
                                        <li>
                                            <a href="contacts">
                                                <span><i class="fas fa-male"></i> </span>
                                                Увійти
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                            <div class="header-right-btn f-right d-none d-lg-block ml-30 text-primary h5">
                                <i class="fas fa-mobile-alt ">
                                    +38 (096) 896-79-69
                                </i>
                            </div>
                        </div>
                    </div>
                    <!-- Mobile Menu -->
                    <div class="col-12 text-align-right">
                        <div class="mobile_menu d-block d-lg-none text-primary h5">
                            <i class="fas fa-mobile-alt ">
                                +38 (096) 896-79-69
                            </i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->
</header>