@{
    ViewData["Title"] = "Confirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h5>@ViewBag.NameUser, напротязі одного робочого дня з Вами зв'яжеться лікар </h5>
<a asp-controller="home" asp-action="index" alt="">На головну</a>

